/*  small */
@media screen and (min-width: 720px) {
	.note-preview-container {
		max-height: 1300px;
	}
}

/* medium */
@media screen and (min-width: 860px) {
	.note-preview-container {
		max-height: 1000px;
	}
}

/* wide */
@media screen and (min-width: 1020px) {
	.note-preview-container {
		max-height: 800px;
	}
}
