.add-note {
	margin: auto;
	box-shadow: 0 1px 3px 2px #3c40434d, 0 2px 6px 2px #3c40430c;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.add-note-input {
	flex-direction: column;
	width: 40rem;
	border: 1px solid;
	border-radius: 0.5rem;
	border: none;
	padding: 5px;
}
.add-note-input > * {
	box-sizing: border-box;
	color: #202124;
	font-family: 'Roboto-Regular', monospace;
	font-size: 1rem;
	line-height: 1.3rem;
	width: 100%;
}
.add-note-input input {
	/* font-size: 1.1rem; */
	padding: 0 8px;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 0.5rem;
	border-radius: 0.2rem;
}
.add-note-input textarea {
	resize: none;
	padding: 4px 10px;
	border-radius: 0.2rem;
}

.add-note-input > * {
	border: none;
	outline: none;
}

.add-note-btn-container {
	padding: 0.5rem;
	display: flex;
	justify-content: space-around;
}
.add-note-btn-container img {
	width: 24px;
}
.add-note-input .submit-note-btn {
	border: 1px solid gray;
	width: 67px;
	border-radius: 0.5rem;
}
