.note-preview-container {
	/* margin: auto; */
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 800px;
	gap: 1rem;
	max-width: 1200px;
}

.note {
	max-width: 240px;
	box-shadow: 0 1px 2px 0 #3c40434d, 0 2px 6px 2px #3c404326;
}
.note-btn-container img {
	width: 30px;
}

.note-content {
	width: 240px;
	min-height: 200px;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: white;
	border: 1px solid #e0e0e0;
}
/* .note-content img {
	object-fit: cover;
	width: 230px;
} */
