.note-app {
	flex-direction: column;
	/* align-items: center; */
	max-width: 1020px;
	margin: auto;
	color: green;
}

.note-app button {
	/* all: unset; */
	background: none;
	border: none;
}
.note-app img {
	margin: 0;
}

.note-app button,
.note-app label {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
}
.note-app button:hover,
.note-app label:hover {
	background-color: #f1f3f4;
}
.note-app button img,
.note-app label img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#note-color,
#note-bg-color {
	all: unset;
	background-image: url('../../../assest/icons/background-color.svg');
	width: 24px;
	height: 24px;
	background-color: transparent;
	align-self: center;
}
#note-color {
	background-image: url('../../../assest/icons/txt-color.svg');
}
#note-color::-webkit-color-swatch,
#note-bg-color::-webkit-color-swatch {
	border: none;
	background-color: transparent !important;
	/* this removes default color input style */
	/* had to use important to override js */
}
