.note-preview-container {
	margin: auto;
	align-content: center;

	flex-direction: column;
	flex-wrap: wrap;
	max-height: 800px;
	gap: 1rem;
}

.note {
	width: 16rem;
	border: 1px solid #e0e0e0;
}
.note:hover {
	box-shadow: 0 1px 3px 2px #3c40434d, 0 2px 6px 2px #3c40430c;
}

.note-btn-container img {
	width: 24px;
	fill: red;
}
.note-btn-container label {
	display: inline-block;
}

.note-content {
	min-height: 200px;
	flex-direction: column;
	justify-content: space-around;
	color: white;
}

.note-content p {
	margin: 0;
}

.txt-note {
	padding-left: 30px;
}
.vid-note h3,
.img-note h3 {
	margin: auto;
	text-align: center;
}

.vid-note iframe {
	margin: auto;
}
