.read {
	background-color: rgb(233, 227, 227);
	color: rgb(124, 123, 123);
}

.action-right {
	position: absolute;
	top: 27%;
	right: 1%;
}

.delete-email {
	position: absolute;
	right: 3%;
}

.action-left {
	position: absolute;
	top: 27%;
	left: 1%;
}

.action-right:hover , .action-left:hover , .delete-email:hover{
	background-color: #f1f3f4;
	border-radius: 50%;
}

.email-list {
	position: relative;
	display: grid;
	grid-template-columns: 0.5fr 8fr 0.5fr;
	margin-top: 0.7%;
	margin-right: 2%;
}

.star-icon {
	height: 20px;
	width: 20px;
}

.email-action {
	appearance: none;
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	overflow: hidden;
}

.add-book-link {
	text-decoration: none;
	color: #97d5da;
	font-size: 1.2rem;
}

.email-list-hover > *:hover{
	box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
	z-index: 2;
	
}
