.mail-img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    object-position:50% 50%;
}


.mail-preview-container{
    display: grid;
    grid-row: 1;
    gap: 10px;
    list-style: none;
    padding: 0;
    
    /* justify-content: space-between;
    gap: 30px;
    width: 1200px; */
}

.row {
    display: table-row;
}

.td{
    /* border: 1px solid rgb(126, 116, 116);
        border-collapse: collapse; */
    display: table-cell;
}
