.mail-img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    object-position:50% 50%;
}

.email-preview-router{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.email-preview-container{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 5fr;
    place-items: start;
    width: 100%;
}

li{
    width: 100%;
}

ul{
    width: 100%;
    margin: 0;
}

